{% extends 'base.html.twig' %}

{% block title %}Hello WishController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ wishDetail.title }}</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Auteur</th>
                <th scope="col">Date</th>
                <th scope="col">Publié</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ wishDetail.description }}</td>
                    <td>{{ wishDetail.author }}</td>
                    <td>{{ wishDetail.dateCreated|date("d/m/y H:i") }}</td>
                    {% if wishDetail.isPublished == 1 %}
                        <td>✔</td>
                    {% else %}
                        <td>❌</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_wish_list') }}"><button type="button" class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}